name: Manual Verification

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      execution_mode:
        description: 'Select Execution Mode'
        type: choice
        default: 'Build Only'
        options:
          - 'Build Only'
          - 'Build + Push to Docker Hub'
jobs:
  call-build:
    uses: valdirsantos714/reusable_workflows/.github/workflows/build-java.yaml@main
    with:
      working-directory: infocep
      java-version: '17'
      push-image: ${{ github.event.inputs.execution_mode == 'Build + Push to Docker Hub' }}
      docker-image-name: infocep-backend
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}